@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /* font size as in stack overflow */
  font-size: 12pt;

  color: #333;

  /* TODO: do I need this ? 
    https://stackoverflow.com/questions/21209223/remove-bounce-on-scroll-in-browser-issue-with-positionfixed-div
  */
  overscroll-behavior-y: none;
}

/* centers navbar and list of gists */
.center {
  width: 95vw;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 0;
}

.dropdown {
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  margin-left: 1em;
  padding: 4px 8px;
}

.dropdown:hover {
  background-color: #ededed;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content {
  @apply hidden;
  @apply absolute flex-col py-2 px-0 whitespace-nowrap min-w-44 z-50 bg-white text-sm text-gray-500;
  @apply border border-gray-300 rounded-md;
}

.dropdown-content button,
.dropdown-content a {
  @apply px-3 py-1.5  hover:bg-gray-100 whitespace-nowrap w-full text-left;
}

svg {
  fill: currentColor;
  display: block;
  flex-shrink: 0;
  backface-visibility: hidden;
}
